<div class="contact-info-container">
  <div class="contact-info__text">
    <svg data-p-icon="envelope"></svg>
    <span>  {{ 'contact.email' | translate }}  </span>

    <a
      href="mailto:oscardivry@gmail.com "
      class="flex items-center gap-2 text-blue-500 hover:underline"
    >

      <span> oscardivry@gmail.com </span>
    </a>
  </div>
  <div class="contact-info__text">
   <svg data-p-icon="phone"></svg>
    <span>  {{ 'contact.phone' | translate }}  </span>

    <a href="tel:+33644800568" class="flex items-center gap-2 text-blue-500 hover:underline">

      <span> +33 6 44 80 05 68 </span>
    </a>
  </div>
  <div class="contact-info__text">
    <svg data-p-icon="linkedin"></svg>
    <span>  {{ 'contact.linkedin' | translate }}  </span>

    <a
      href="https://www.linkedin.com/in/oscardivry"
      target="_blank"
      class="flex items-center gap-2 text-blue-500 hover:underline"
    >

      <span> Oscar Divry (https://www.linkedin.com/in/oscardivry)</span>
    </a>
  </div>
</div>
