.main-page-container
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between
  align-items: flex-start;
  gap: 2px;
  flex: 10 1 auto;

.locale-switcher-container
  justify-self: flex-end;



.main-page__content
  align-self: flex-start;
  justify-self: flex-start;



